<div class="dialog-content">
  <section class="main-form single">
    <p>
      {{content}}
    </p>
    <label class="flexrow" style="align-items: center;">
      <input type="checkbox" name="apply-advancement" checked>
      {{localize "EH.Advancement.Confirmation.Label"}}
    </label>
  </section>
</div>
<nav class="skewed">
  <ul>
    {{#each buttons}}
      <li>
        <button type="dialog-button button" class="{{cssClass}}" data-button="{{@key}}">
          {{{icon}}}
          {{{label}}}
        </button>
      </li>
    {{/each}}
  </ul>
</nav>
