<div>
	<section class="step">
		<header>
			<h1>{{header}}</h1>
			<h2>{{subheader}}</h2>
		</header>

		<template id="{{flowId}}"></template>
	</section>
	<nav class="skewed">
		<ul>
			
		{{#if steps.hasPrevious}}
			<li>
				<button data-action="previous">
					<i class="fas fa-angle-double-left"></i> {{localize "EH.Advancement.Manager.Action.Previous"}}
				</button>
			</li>
			<li>
				<button data-action="restart">
					<i class="fas fa-undo"></i> {{localize "EH.Advancement.Manager.Action.Restart"}}
				</button>
			</li>
		{{/if}}
		<li>
			{{#if steps.hasNext}}
				<button data-action="next">
					<i class="fas fa-angle-double-right"></i> {{localize "EH.Advancement.Manager.Action.Next"}}
				</button>
			{{else}}
				<button data-action="complete">
					<i class="fas fa-check"></i> {{localize "EH.Advancement.Manager.Action.Complete"}}
				</button>
			{{/if}}
		</li>
	</nav>
</div>
