<form autocomplete="off">
	<section class="main-form">
		<ol>
			{{#each types as |advancement name|}}
				<li>
					<label>
						<figure style="background-image: url('{{advancement.icon}}')"></figure>
						<h3>{{advancement.label}}</h3>
						<input name="type" type="radio" value="{{name}}" {{disabled advancement.disabled}}>
						<p class="hint">
							{{advancement.hint}}
						</p>
					</label>
				</li>
			{{/each}}
		</ol>
	</section>

	<nav class="dialog-buttons skewed">
		<ul>
			<li>
				<button class="dialog-button" data-button="submit" disabled>
					<i class="far fa-save"></i> {{localize "EH.Advancement.Core.Action.Create"}}
				</button>
			</li>
		</ul>
	</nav>
</form>
