<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}" autocomplete="off">
	<h3 class="striped">
		<span class="left stripes"></span>
		<span class="center">{{{title}}}</span>
		<span class="right stripes"></span>
	</h3>
	{{#if advancement.configuration.points}}
		<p>{{pointsRemaining}}</p>
	{{/if}}
	<div class="properties">
		{{#each abilities as |ability key|}}
			<fieldset class="{{#if ability.checked}}add{{/if}} {{#if ability.disabled}}disabled{{/if}}">
				<label>
					<input type="checkbox" name="assignments.{{key}}"
						{{checked ability.checked}} {{disabled ability.disabled}}>
					{{ability.label}}
				</label>
			</fieldset>
		{{/each}}
	</div>
</form>
