<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}" autocomplete="off">
	<h3 class="striped">
		<span class="left stripes"></span>
		<span class="center">{{{title}}}</span>
		<span class="right stripes"></span>
	</h3>

	<ul class="ability-scores">
		<label>{{pointsRemaining}}</label>
		{{#each abilities}}
			{{> "everydayHeroes.advancement-ability-score-control" this}}
		{{/each}}
	</ul>
</form>
