<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}" autocomplete="off">
	<h3>{{{title}}}</h3>

	{{#if isFirstLevel}}

		<div>
			{{{localize "EH.Advancement.HitPoints.MaxAtFirstLevel" max=dieValue}}}
			<input type="hidden" name="useMax" value="true" data-dtype="Boolean">
		</div>

	{{else}}

		<div class="rolls">
			<label class="averageLabel">
				<span>{{localize "EH.Advancement.HitPoints.Fixed"}}</span>
				<input class="averageCheckbox" type="checkbox" name="useAverage" {{checked data.useAverage}}>
			</label>
			<input class="rollResult" type="number" name="value" value="{{data.value}}" {{disabled data.useAverage}}>
			<button class="rollButton" type="button" name="roll" {{disabled data.useAverage}}>
				<i class="fas fa-dice-d20"></i> {{localize "EH.Action.Roll" die=hitDie}}
			</button>
		</div>

	{{/if}}
</form>
