<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}" autocomplete="off">
  <h3 class="striped">
    <span class="left stripes"></span>
    <span class="center">{{{title}}}</span>
    <span class="right stripes"></span>
  </h3>

  <ul>
    {{#each items}}
      <li data-item-uuid="{{this.uuid}}">
        <h4>
          <fieldset style="background-image: url('{{this.img}}');"></fieldset>
          <a data-uuid="{{uuid}}">{{this.name}}</a>
        </h4>
        <input type="hidden" name="{{this.uuid}}" value="true" data-dtype="Boolean">
      </li>
    {{/each}}
  </ul>
</form>
