<form autocomplete="off">
	<section>
		<h2 class="striped">
			<span class="left stripes"></span>
			<span class="center">
				<select name="abilityId">
					{{selectOptions CONFIG.abilities selected=abilityId labelAttr="label"}}
				</select>
			</span>
			<span class="right stripes"></span>
		</h2>
		<p>{{localize "EH.Ability.Configuration.Hint"}}</p>
		<fieldset>
			<label>{{localize "EH.Proficiency.Label[one]"}}</label>
			<select name="system.abilities.{{abilityId}}.saveProficiency.multiplier">
				{{selectOptions proficiencyLevels selected=ability.saveProficiency.multiplier}}
			</select>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Ability.Bonus.Save.Label"}}</label>
			<input type="text" name="system.abilities.{{abilityId}}.bonuses.save"
				value="{{ability.bonuses.save}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Ability.Override.Minimum.Save"}}</label>
			<input type="text" name="system.abilities.{{abilityId}}.minimums.save"
				value="{{ability.minimums.save}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Ability.Bonus.Check.Label"}}</label>
			<input type="text" name="system.abilities.{{abilityId}}.bonuses.check"
				value="{{ability.bonuses.check}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Ability.Override.Minimum.Check"}}</label>
			<input type="text" name="system.abilities.{{abilityId}}.minimums.check"
				value="{{ability.minimums.check}}" data-formula-editor>
		</fieldset>
	</section>

	<section>
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.Ability.Alternate.Label"}}</span>
			<span class="right stripes"></span>
		</h3>
		<p class="hint">{{localize "EH.Ability.Alternate.All.Hint"}}</p>
		<fieldset>
			<label>{{localize "EH.Ability.Alternate.All.Label"}}</label>
			{{everydayHeroes-tagInput ability.alternates.all choices=CONFIG.abilities labelAttr="label"
				name=(concat "system.abilities." abilityId ".alternates.all")}}
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Ability.Alternate.Proficient.Label"}}</label>
			{{everydayHeroes-tagInput ability.alternates.proficient choices=CONFIG.abilities labelAttr="label"
				name=(concat "system.abilities." abilityId ".alternates.proficient")}}
		</fieldset>
	</section>

	<section>
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.Ability.Configuration.Global.Label"}}</span>
			<span class="right stripes"></span>
		</h3>
		<p>{{localize "EH.Ability.Configuration.Global.Hint"}}</p>
		<fieldset>
			<label>{{localize "EH.Ability.Bonus.Save.Label"}}</label>
			<input type="text" name="system.bonuses.ability.save" value="{{source.bonuses.ability.save}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Ability.Override.Minimum.Save"}}</label>
			<input type="text" name="system.overrides.ability.minimums.save"
				value="{{source.overrides.ability.minimums.save}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Ability.Bonus.Check.Label"}}</label>
			<input type="text" name="system.bonuses.ability.check" value="{{source.bonuses.ability.check}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Ability.Override.Minimum.Check"}}</label>
			<input type="text" name="system.overrides.ability.minimums.check"
				value="{{source.overrides.ability.minimums.check}}" data-formula-editor>
		</fieldset>
	</section>
</form>
