<form autocomplete="off">
	<section>
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.HitDice.Label[other]"}}</span>
			<span class="right stripes"></span>
		</h3>
		<fieldset>
			<label>{{localize "EH.HitDice.Spent"}}</label>
			<input type="number" name="system.attributes.hd.spent" value="{{source.attributes.hd.spent}}">
		</fieldset>
	</section>

	<section>
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.HitPoints.Label[other]"}}</span>
			<span class="right stripes"></span>
		</h3>
		<fieldset>
			<label>{{localize "EH.HitPoints.Bonus.Level"}}</label>
			<input type="text" name="system.attributes.hp.bonuses.level"
				value="{{source.attributes.hp.bonuses.level}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.HitPoints.Bonus.Overall"}}</label>
			<input type="text" name="system.attributes.hp.bonuses.overall"
				value="{{source.attributes.hp.bonuses.overall}}" data-formula-editor>
		</fieldset>
	</section>

	<section>
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.Death.Label[other]"}}</span>
			<span class="right stripes"></span>
		</h3>
		<fieldset>
			<label>{{localize "EH.Death.Bonus.Label"}}</label>
			<input type="text" name="system.attributes.death.bonus" value="{{source.attributes.death.bonus}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Death.Override.Success.Label"}}</label>
			<input type="number" name="system.attributes.death.overrides.success" value="{{source.attributes.death.overrides.success}}">
			<p class="hint">{{localize "EH.Death.Override.Success.Hint"}}</p>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Death.Override.Failure.Label"}}</label>
			<input type="number" name="system.attributes.death.overrides.failure" value="{{source.attributes.death.overrides.failure}}">
			<p class="hint">{{localize "EH.Death.Override.Failure.Hint"}}</p>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Death.Override.Target.Label"}}</label>
			<input type="number" name="system.attributes.death.overrides.target" value="{{source.attributes.death.overrides.target}}">
			<p class="hint">{{localize "EH.Death.Override.Target.Hint"}}</p>
		</fieldset>
	</section>
</form>
