<form autocomplete="off">
	<section>
		<h2 class="striped">
			<span class="left stripes"></span>
			<span class="center">
				<select name="skillId">
					{{selectOptions CONFIG.skills selected=skillId labelAttr="label"}}
				</select>
			</span>
			<span class="right stripes"></span>
		</h2>
		<fieldset>
			<label>{{localize "EH.Proficiency.Label[one]"}}</label>
			<select name="system.skills.{{skillId}}.proficiency.multiplier">
				{{selectOptions proficiencyLevels selected=skill.proficiency.multiplier}}
			</select>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Skill.Bonus.Check"}}</label>
			<input type="text" name="system.skills.{{skillId}}.bonuses.check"
				value="{{skill.bonuses.check}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Skill.Override.Minimum"}}</label>
			<input type="text" name="system.skills.{{skillId}}.minimum"
				value="{{skill.minimum}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Skill.Bonus.Passive"}}</label>
			<input type="text" name="system.skills.{{skillId}}.bonuses.passive"
				value="{{skill.bonuses.passive}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Skill.Abilities.Label"}}</label>
			{{everydayHeroes-tagInput skill.abilities choices=CONFIG.abilities labelAttr="label"
				name=(concat "system.skills." skillId ".abilities")}}
			<p class="hint">{{localize "EH.Skill.Abilities.Hint"}}</p>
		</fieldset>
	</section>

	<section>
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.Skill.Configuration.Global.Label"}}</span>
			<span class="right stripes"></span>
		</h3>
		<p>{{localize "EH.Skill.Configuration.Global.Hint"}}</p>
		<fieldset>
			<label>{{localize "EH.Skill.Bonus.Check"}}</label>
			<input type="text" name="system.bonuses.skill.check" value="{{source.bonuses.skill.check}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Skill.Override.Minimum"}}</label>
			<input type="text" name="system.overrides.skill.minimum"
				value="{{source.overrides.skill.minimum}}" data-formula-editor>
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Skill.Bonus.Passive"}}</label>
			<input type="text" name="system.bonuses.skill.passive" value="{{source.bonuses.skill.passive}}" data-formula-editor>
		</fieldset>
	</section>
</form>
