<fieldset>
	<label>{{localize "EH.Advancement.Core.Title"}}</label>
	<input type="text" name="title" value="{{src.title}}" placeholder="{{default.title}}">
</fieldset>

<fieldset>
	<label>{{localize "EH.Advancement.Core.Icon"}}</label>
	<div class="form-fields">
		{{filePicker type="image" target="icon"}}
		<input type="text" name="icon" value="{{src.icon}}" placeholder="{{default.icon}}">
	</div>
</fieldset>

{{#if showLevelSelector}}
	<fieldset>
		<label>{{localize "EH.Levels.Label[one]"}}</label>
		<select name="level" data-dtype="Number">
			{{selectOptions levels selected=level}}
		</select>
	</fieldset>
{{/if}}
