<fieldset>
	<label>{{localize "EH.Advancement.Core.Title"}}</label>
	<input type="text" name="title" value="{{src.title}}" placeholder="{{default.title}}">
</fieldset>

<fieldset>
	<label>{{localize "EH.Advancement.Core.Icon"}}</label>
	<div class="fields">
		{{filePicker type="image" target="icon"}}
		<input type="text" name="icon" value="{{src.icon}}" placeholder="{{default.icon}}">
	</div>
</fieldset>

{{#if showIdentifier}}
	<fieldset>
		<label>{{localize "EH.Identifier.Label"}}</label>
		<input type="text" name="identifier" value="{{src.identifier}}" placeholder="{{default.identifier}}">
		{{#if default.identifierHint}}
			<p class="hint">
				{{{localize default.identifierHint identifier=identifier}}}
				<a class="identifier-hint-copy" data-tooltip="EH.Identifier.Action.Copy"><i class="far fa-clipboard"></i></a>
			</p>
		{{/if}}
	</fieldset>
{{/if}}

{{#if showLevelSelector}}
	<fieldset>
		<label>{{localize "EH.Levels.Label[one]"}}</label>
		<select name="level" data-dtype="Number">
			{{selectOptions levels selected=level}}
		</select>
	</fieldset>
{{/if}}
