<div data-action="cycle-proficiency" data-name="{{name}}" data-type="{{type}}" data-multiplier="{{value.multiplier}}">
	<div class="selector-icon" style="background-image: url('systems/everyday-heroes/artwork/interface/proficiency-{{type}}-{{value.multiplier}}{{#if (eq value.multiplier 0.5)}}-{{value.rounding}}{{/if}}.svg')"></div>
	<input type="hidden" name="{{name}}.multiplier" value="{{source.multiplier}}">
	<input type="hidden" name="{{name}}.rounding" value="{{source.rounding}}">
</div>
