<section>
	<h2 class="striped">
		<span class="left stripes"></span>
		<span class="center">
			<select name="editorSelected">
				{{ selectOptions editor.options selected=editor.selected localize=true }}
			</select>
		</span>
		<span class="right stripes"></span>
	</h2>
	{{#if (eq editor.selected "biography")}}
		{{editor enriched.biography target="system.biography.value" button=true editable=editable
			engine="prosemirror" collaborate=false}}
	{{else if (eq editor.selected "public")}}
		{{editor enriched.public target="system.biography.public" button=true editable=editable
			engine="prosemirror" collaborate=false}}
	{{else}}
		{{editor enriched.notes target="system.biography.notes" button=true editable=editable
			engine="prosemirror" collaborate=false}}
	{{/if}}
</section>
