<section>
	<header class="hero-id">
		<div class="image">
			<img src="{{actor.img}}" data-edit="img">
		</div>
		<div>
			<fieldset class="name hero-id__100">
				<label>{{localize "Name"}}</label>
				<input type="text" name="name" value="{{actor.name}}" {{disabled (not editingMode)}}>
			</fieldset>
			<fieldset class="class hero-id__50">
				<label>{{localize "EH.Item.Type.Class[one]"}}</label>
				{{#if system.details.class}}
					<a data-action="item" data-type="edit" data-item-id="{{system.details.class.id}}">
						{{system.details.class.name}}
					</a>
				{{else if system.details.archetype}}
					<a data-action="select-concept" data-type="class">
						{{localize "EH.ConceptSelection.Prompt.Class"}}
					</a>
				{{/if}}
			</fieldset>
			<fieldset class="archetype hero-id__50">
				<label>{{localize "EH.Item.Type.Archetype[one]"}}</label>
				{{#if system.details.archetype}}
					<a data-action="item" data-type="edit" data-item-id="{{system.details.archetype.id}}">
						{{system.details.archetype.name}}
					</a>
				{{else}}
					<a data-action="select-concept" data-type="archetype">
						{{localize "EH.ConceptSelection.Prompt.Archetype"}}
					</a>
				{{/if}}
			</fieldset>
			<fieldset class="origin hero-id__50">
				<label>{{localize "EH.Item.Type.Origin[one]"}}</label>
				{{#if system.details.origin}}
					<a data-action="item" data-type="edit" data-item-id="{{system.details.origin.id}}">
						{{system.details.origin.name}}
					</a>
				{{else}}
					<a data-action="select-concept" data-type="origin">
						{{localize "EH.ConceptSelection.Prompt.Origin"}}
					</a>
				{{/if}}
			</fieldset>
			<fieldset class="background hero-id__{{ifThen (lt system.details.backgrounds.length 2) '50' '100' }}">
				<label>{{localize "EH.Item.Type.Background[one]"}}</label>
				{{#each system.details.backgrounds}}
					<a data-action="item" data-type="edit" data-item-id="{{ id }}">{{ name }}</a>
				{{else}}
					<a data-action="select-concept" data-type="background">
						{{localize "EH.ConceptSelection.Prompt.Background"}}
					</a>
				{{/each}}
			</fieldset>
			<fieldset class="profession hero-id__100">
				<label>{{localize "EH.Item.Type.Profession[one]"}}</label>
				{{#each system.details.professions}}
					<a data-action="item" data-type="edit" data-item-id="{{ id }}">{{ name }}</a>
				{{else}}
					<a data-action="select-concept" data-type="profession">
						{{localize "EH.ConceptSelection.Prompt.Profession"}}
					</a>
				{{/each}}
			</fieldset>
			<fieldset class="level hero-id__25">
				<label>{{localize "EH.Level.Label[one]"}}</label>
				<input type="number" name="system.details.level" value="{{system.details.level}}"
						 	step="1" min="1" max="10" {{disabled (not editingMode)}}>
			</fieldset>
			<fieldset class="wealth hero-id__25">
				<label>{{localize "EH.Details.Wealth.Label"}}</label>
				<span>{{system.details.wealth.value}}</span>
			</fieldset>
			<fieldset class="speed hero-id__50">
				<label>
					{{localize "EH.Speed.Label"}}
					{{#if editingMode}}
						<a data-action="config" data-type="speed"
							data-tooltip="{{localize 'EH.Action.Configure' type=(localize 'EH.Speed.Label')}}">
							<i class="fa-solid fa-cog"></i>
						</a>
					{{/if}}
				</label>
				{{#if editingMode}}
					<input type="number" name="system.attributes.movement.value"
						value="{{source.attributes.movement.value}}" step="0.1" min="0" {{disabled (not editingMode)}}>
				{{else}}
					<span>{{system.attributes.movement.label}}</span>
				{{/if}}
			</fieldset>
			<fieldset class="languages hero-id__100">
				<label>{{localize "EH.Language.Label[other]"}}</label>
				{{#if editingMode}}
					{{everydayHeroes-tagInput system.traits.languages name="system.traits.languages"}}
				{{else}}
					<span>{{lists.languages}}</span>
				{{/if}}
			</fieldset>
		</div>
	</header>
	
	<section class="abilities-and-skills">
		<div class="abilities">
			{{#each abilities as |ability key|}}
				<div class="ability" data-key="{{key}}">
					<label>
						<span>{{ability.label}}</span>
						{{#if @root.editingMode}}
							<a data-action="config" data-type="ability" data-key="{{key}}"
								data-tooltip="{{localize 'EH.Action.Configure' type=ability.label}}">
								<i class="fa-solid fa-cog"></i>
							</a>
						{{/if}}
					</label>
					<aside class="modifier">
						<a data-action="roll" data-type="ability-check" data-ability="{{key}}" data-tooltip="{{localize 'EH.Action.Roll'
							type=(localize 'EH.Ability.Action.CheckSpecific' ability=ability.label)}}">{{ability.mod}}</a>
					</aside>
					<div class="contents">
						{{#if @root.editingMode}}
							<input class="value" type="number" name="system.abilities.{{key}}.value"
								value="{{ability._source.value}}" step="1" min="1">
						{{else}}
							<input class="value" type="text" value="{{#if ability.valid}}{{ability.value}}{{else}}—{{/if}}" disabled>
						{{/if}}
						<div class="save">
							{{> "everydayHeroes.actor-proficiency-selector" type="single"
							  name=(concat "system.abilities." key ".saveProficiency")
								value=ability.saveProficiency source=ability._source.saveProficiency}}
							<a data-action="roll" data-type="ability-save" data-ability="{{key}}" data-tooltip="{{localize 'EH.Action.Roll'
								type=(localize 'EH.Ability.Action.SaveSpecificShort' ability=ability.label)}}">{{ability.save}}</a>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		<div class="skills">
			<table>
				{{#each skills as |skill key|}}
					<tr class="skill" data-key="{{key}}">
						<td class="label">
							<a data-action="roll" data-type="skill" data-skill="{{key}}" data-tooltip="{{localize 'EH.Action.Roll'
								type=(localize 'EH.Skill.Action.CheckSpecific' skill=skill.label)}}">{{skill.label}}</a>
							{{#if @root.editingMode}}
								<a data-action="config" data-type="skill" data-key="{{key}}"
									data-tooltip="{{localize 'EH.Action.Configure' type=skill.label}}">
									<i class="fa-solid fa-cog"></i>
								</a>
							{{/if}}
						</td>
						<td class="abbreviation">
							{{skill.abilityAbbreviation}}
							<input type="hidden" name="system.skills.{{key}}.ability" value="{{skill.ability}}">
						</td>
						<td class="proficiency">
							{{> "everydayHeroes.actor-proficiency-selector" type="double"
								name=(concat "system.skills." key ".proficiency")
								value=skill.proficiency source=skill._source.proficiency}}
						</td>
						<td class="modifier">
							{{skill.mod}}
						</td>
					</tr>
				{{/each}}
			</table>
		</div>
	</section>
	
	<section class="attributes">
		<div class="health {{system.attributes.death.status}}">
			<div class="hp">
				<fieldset class="max-hp">
					<label>{{localize "EH.HitPoints.Max"}}</label>
					<span>{{system.attributes.hp.max}}</span>
				</fieldset>
				<fieldset class="current-hp">
					<label>{{localize "EH.HitPoints.Current"}}</label>
					<input type="text" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}" data-delta>
				</fieldset>
				{{#if (eq system.attributes.death.status "alive")}}
					<fieldset class="temp-hp">
						<label>{{localize "EH.HitPoints.Temp"}}</label>
						<input type="text" name="system.attributes.hp.temp" value="{{system.attributes.hp.temp}}" data-delta>
					</fieldset>
				{{/if}}
				<fieldset class="hit-dice">
					<label>
						{{#if editable}}
							<a data-action="roll" data-type="hit-die"
								data-tooltip="{{localize 'EH.Action.Roll' type=(localize 'EH.HitDice.Label[one]')}}">
								{{localize "EH.HitDice.Label[other]"}}
							</a>
						{{else}}
							{{localize "EH.HitDice.Label[other]"}}
						{{/if}}
					</label>
					<span>
						{{#if system.attributes.hd.denomination}}
							{{system.attributes.hd.available}}d{{system.attributes.hd.denomination}}
						{{/if}}
					</span>
				</fieldset>
				<fieldset class="total-dmg">
					{{#unless (eq system.attributes.hp.value 0)}}
						<label>{{localize "EH.HitPoints.Damage"}}</label>
						<input type="text" name="system.attributes.hp.damage" value="{{system.attributes.hp.damage}}" data-delta>
					{{else}}
						<label>{{localize "EH.Death.Status.Label"}}</label>
						<span>{{lookup CONFIG.deathStatus system.attributes.death.status}}</span>
					{{/unless}}
				</fieldset>
			</div>
			{{#unless (eq system.attributes.death.status "alive")}}
				<div class="death-saves">
					<label>
						<a data-action="roll" data-type="death-save"
							data-tooltip="{{localize 'EH.Action.Roll' type=(localize 'EH.Death.Label[one]')}}">
							{{localize "EH.Death.Label[other]"}}
						</a>
					</label>
					<fieldset class="success">
						<label>{{localize "EH.Death.Success.Label"}}</label>
						<span>{{system.attributes.death.success}}</span>
					</fieldset>
					<fieldset class="failure">
						<label>{{localize "EH.Death.Failure.Label"}}</label>
						<span>{{system.attributes.death.failure}}</span>
					</fieldset>
				</div>
			{{/unless}}
			{{#if editingMode}}
				<a class="offshoot" data-action="config" data-type="health"
					data-tooltip="{{localize 'EH.Action.Configure' type=(localize 'EH.Health.Label')}}">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
		</div>
	
		<nav class="controls skewed">
			<ul>
				<li><a data-action="roll" data-type="luck">{{localize "EH.Luck.Label"}}</a></li>
				<li><a {{#if editable}}data-action="short-rest"{{/if}}>{{localize "EH.Rest.Type.Short.Label"}}</a></li>
				<li><a {{#if editable}}data-action="long-rest"{{/if}}>{{localize "EH.Rest.Type.Long.Label"}}</a></li>
			</ul>
		</nav>
	
		<div class="summary">
			<fieldset class="proficiency">
				<label>{{localize "EH.Proficiency.Bonus.Label"}}</label>
				<span>{{system.attributes.prof}}</span>
			</fieldset>
			<fieldset class="defense">
				<label>{{localize "EH.Defense.Label"}}</label>
				<span>{{system.attributes.defense.value}}</span>
			</fieldset>
			<fieldset class="initiative">
				<label>
					<a data-action="roll" data-type="initiative"
						data-tooltip="{{localize 'EH.Action.Roll' type=(localize 'EH.Initiative.Label')}}">
						{{localize "EH.Initiative.Label"}}
					</a>
				</label>
				<span>{{everydayHeroes-number system.attributes.initiative.total sign=true}}</span>
			</fieldset>
			<fieldset class="passive-perception">
				<label>Passive Perception</label>
				<span>{{system.skills.perc.passive}}</span>
			</fieldset>
			{{#if editingMode}}
				<a class="offshoot" data-action="config" data-type="attributes"
					data-tooltip="{{localize 'EH.Action.Configure' type=(localize 'EH.Attributes.Label')}}">
					<i class="fa-solid fa-cog"></i>
				</a>
			{{/if}}
		</div>
	
		<div class="resources">
			{{#each system.resources as |resource key|}}
				{{#unless resource.disabled}}
					<fieldset data-resource-key="{{key}}" {{!--style="background-image: url('{{resource.backdrop}}');"--}}>
						<label>
							<a data-action="roll" data-type="resource" data-resource="{{key}}" data-tooltip="
								{{~#if resource.denomination}}{{localize 'EH.Action.Roll' type=resource.label}}
								{{~else}}{{localize 'EH.Action.Spend' type=resource.label}}{{/if}}">{{resource.label}}</a>
						</label>
						<span>{{resource.available}}/{{resource.max}}</span>
						<span class="die">
							{{#if resource.denomination}}d{{resource.denomination}}{{/if}}
						</span>
					</fieldset>
				{{/unless}}
			{{/each}}
			<fieldset class="inspiration">
				<label>{{localize "EH.Resource.Inspiration"}}</label>
				<div class="fields">
					<input type="checkbox" name="system.inspiration" {{checked system.inspiration}}>
				</div>
			</fieldset>
		</div>
	</section>
</section>
