<form class="{{cssClass}}" autocomplete="off">

	<nav data-group="primary">
		<a data-tab="details">{{localize "EH.Sheet.Section.Details"}}</a>
		<a data-tab="features">{{localize "EH.Sheet.Section.Features"}}</a>
		<a data-tab="inventory">{{localize "EH.Sheet.Section.Inventory"}}</a>
		<a data-tab="persona">{{localize "EH.Sheet.Section.Persona"}}</a>
		<a data-tab="biography">{{localize "EH.Sheet.Section.Biography"}}</a>
		<a data-tab="effects">{{localize "EH.Sheet.Section.Effects"}}</a>
		{{#if editable}}
			{{#if editingMode}}
				<a data-action="toggle-editing-mode"
					data-tooltip="Disable Editing Mode">
					<i class="fas fa-lock-open"></i>
				</a>
			{{else}}
				<a data-action="toggle-editing-mode"
					data-tooltip="Enable Editing Mode">
					<i class="fas fa-lock"></i>
				</a>
			{{/if}}
		{{/if}}
	</nav>

	<main>
		<div class="tab" data-group="primary" data-tab="details">
			{{> "everydayHeroes.hero-details"}}
		</div>
		<div class="tab inventory" data-group="primary" data-tab="features">
			{{> "everydayHeroes.actor-inventory" sections=features}}
		</div>
		<div class="tab inventory" data-group="primary" data-tab="inventory">
			<section class="proficiencies{{#unless editingMode}} disabled{{/unless}}">
				<h3>{{localize "EH.Equipment.Proficiency.Label[other]"}}</h3>
				<div>
					<label class="basic">
						<input type="checkbox" name="proficiency" data-category="basic"
							{{checked proficiencies.basic}} {{disabled (not editingMode)}}>
						<span>{{localize "EH.Equipment.Category.Basic.Label"}}</span>
					</label>
					<label class="advanced">
						<input type="checkbox" name="proficiency" data-category="advanced"
							{{checked proficiencies.advanced}} {{disabled (not editingMode)}}>
						<span>{{localize "EH.Equipment.Category.Advanced.Label"}}</span>
					</label>
					<label class="military">
						<input type="checkbox" name="proficiency" data-category="military"
							{{checked proficiencies.military}} {{disabled (not editingMode)}}>
						<span>{{localize "EH.Equipment.Category.Military.Label"}}</span>
					</label>
					<label class="historical">
						<input type="checkbox" name="proficiency" data-category="historical"
							{{checked proficiencies.historical}} {{disabled (not editingMode)}}>
						<span>{{localize "EH.Equipment.Category.Historical.Label"}}</span>
					</label>
					<label class="improvised">
						<input type="checkbox" name="proficiency" data-category="improvised"
							{{checked proficiencies.improvised}} {{disabled (not editingMode)}}>
						<span>{{localize "EH.Equipment.Category.Improvised.Label"}}</span>
					</label>
					<svg class="background" xmlns="http://www.w3.org/2000/svg" width="100%" height="8em">
						<line class="line center-advanced" x1="50%" y1="2.5em" x2="20%" y2="2.5em"/>
						<line class="line center-advanced" x1="20%" y1="2.5em" x2="20%" y2="3em"/>
						<line class="line center-improvised" x1="50%" y1="2.5em" x2="80%" y2="2.5em"/>
						<line class="line center-improvised" x1="80%" y1="2.5em" x2="80%" y2="3em"/>
						<line class="line advanced-military" x1="20%" y1="4.5em" x2="20%" y2="5.5em"/>
						<line class="line basic-center" x1="50%" y1="2em" x2="50%" y2="2.5em"/>
						<line class="line center-historical" x1="50%" y1="2.5em" x2="50%" y2="3em"/>
					</svg>
				</div>
			</section>
			{{> "everydayHeroes.actor-inventory" sections=inventory}}
		</div>
		<div class="tab" data-group="primary" data-tab="persona">
			{{> "everydayHeroes.hero-persona"}}
		</div>
		<div class="tab" data-group="primary" data-tab="biography">
			{{> "everydayHeroes.hero-biography"}}
		</div>
		<div class="tab inventory" data-group="primary" data-tab="effects">
			{{> "everydayHeroes.active-effects"}}
		</div>
	</main>

</form>
