<section class="attributes">
	<fieldset class="types">
		{{#if editingMode}}
			<label>{{localize "EH.Creature.Type.Label"}}</label>
			<select name="system.traits.size">
				{{selectOptions CONFIG.sizes selected=system.traits.size labelAttr="label"}}
			</select>
			<select name="system.traits.type.value">
				{{selectOptions CONFIG.creatureTypes selected=system.traits.type.value labelAttr="label"}}
			</select>
		{{else}}
			<span><em>{{system.traits.type.label}}</em></span>
		{{/if}}
	</fieldset>
	{{#if editingMode}}
		<fieldset>
			<label>{{localize "EH.Creature.Type.Tags.Label"}}</label>
			{{everydayHeroes-tagInput system.traits.type.tags choices=availableTags name="system.traits.type.tags"}}
		</fieldset>
	{{/if}}
	<fieldset>
		<label>{{localize "EH.Defense.Label"}}</label>
		{{#if editingMode}}
			<input type="number" value="{{system.attributes.defense}}">
		{{else}}
			<span>{{system.attributes.defense}}</span>
		{{/if}}
	</fieldset>
	<fieldset>
		<label>{{localize "EH.HitPoints.Label[other]"}}</label>
		{{#if @root.editable}}
			<input type="number" name="system.attributes.hp.value" value="{{system.attributes.hp.value}}">
		{{else}}
			<span>{{system.attributes.hp.value}}</span>
		{{/if}} /
		{{#if editingMode}}
			<input type="number" name="system.attributes.hp.max" value="{{system.attributes.hp.max}}">
			(<input type="text" name="system.attributes.hp.formula" value="{{system.attributes.hp.formula}}">)
		{{else}}
			<span>{{system.attributes.hp.max}} ({{system.attributes.hp.formula}})</span>
		{{/if}}
	</fieldset>
	<fieldset>
		<label>{{localize "EH.Item.Type.Armor[one]"}}</label>
		{{#if armor}}
			<span data-item-id="{{armor.id}}">
				<a data-action="item" data-type="edit">{{armor.name}}</a> (
				{{~localize "EH.Equipment.Trait.ArmorValue.Abbreviation"}} {{numberFormat armor.system.armorValue}},
				<a data-action="roll-item" data-type="armor-save"
					data-tooltip="{{localize 'EH.Action.Roll' type=(localize 'EH.Armor.Action.Save.Label')}}">
					{{~localize "EH.Armor.Action.Save.Short" number=(numberFormat armor.system.armorSaveMod sign=true)}}</a>
				{{~#if lists.armorProperties}}, {{lists.armorProperties}}{{/if}})
		{{else}}
			&mdash;
		{{/if}}
	</fieldset>
	<fieldset>
		<label>{{localize "EH.Speed.Label"}}</label>
		{{#if editingMode}}
			<input type="number" name="system.attributes.movement.value" value="{{system.attributes.movement.value}}">
			<select name="system.attributes.movement.units">
				{{selectOptions CONFIG.lengthUnits selected=system.attributes.movement.units labelAttr="label"}}
			</select>
			{{!-- TODO: Allow editing of special units --}}
		{{else}}
			<span>{{numberFormat system.attributes.movement.value}} {{system.attributes.movement.units}}.</span>
			{{!-- TODO: Format properly using units --}}
		{{/if}}
	</fieldset>
	<fieldset class="abilities">
		{{#if editingMode}}
			<legend>
				{{localize "EH.Ability.Label[other]"}}
				<a data-action="config" data-type="ability"
					data-tooltip="{{localize 'EH.Action.Configure' type=(localize 'EH.Ability.Label[other]')}}">
					<i class="fa-solid fa-cog"></i>
				</a>
			</legend>
		{{/if}}
		{{#each abilities as |ability key|}}
			<div>
				<label>
					<a data-action="roll" data-type="ability-check" data-key="{{key}}">{{ability.abbreviation}}</a>
				</label>
				{{#if @root.editingMode}}
					<input type="number" name="system.abilities.{{key}}.value" value="{{ability.value}}">
				{{else}}
					<span>{{numberFormat ability.value}}</span>
				{{/if}}
				<span>({{ability.mod}})</span>
				{{#if @root.editingMode}}
					{{> "everydayHeroes.actor-proficiency-selector" type="single"
						name=(concat "system.abilities." key ".saveProficiency") value=ability.saveProficiency}}
				{{/if}}
			</div>
		{{/each}}
	</fieldset>
	{{#if lists.saves}}
		<fieldset>
			<label>{{localize "EH.Ability.Save.Label"}}</label>
			<span>{{{lists.saves}}}</span>
		</fieldset>
	{{/if}}
	{{#if (or lists.skills editingMode)}}
		<fieldset>
			<label>
				{{localize "EH.Skill.Label[other]"}}
				{{#if editingMode}}
					<a data-action="config" data-type="skill"
						data-tooltip="{{localize 'EH.Action.Configure' type=(localize 'EH.Skill.Label[other]')}}">
						<i class="fa-solid fa-cog"></i>
					</a>
				{{/if}}
			</label>
			<span>{{{lists.skills}}}</span>{{!-- TODO: Allow selecting skill proficiency --}}
		</fieldset>
	{{/if}}
	<fieldset>
		<label>{{localize "EH.Sense.Label[other]"}}</label>
		<span>{{lists.senses}}</span>
	</fieldset>
	<fieldset>
		<label>{{localize "EH.Role.Label[other]"}}</label>
		{{#if editingMode}}
			{{everydayHeroes-tagInput system.biography.roles choices=CONFIG.roles name="system.biography.roles"}}
		{{else}}
			<span>{{lists.roles}}</span>
		{{/if}}
	</fieldset>
	{{#if lists.equipment}}
		<fieldset>
			<label>{{localize "EH.Equipment.Label[other]"}}</label>
			<span>{{{lists.equipment}}}</span>
		</fieldset>
	{{/if}}
	<fieldset>
		<label>{{localize "EH.Proficiency.Label[one]"}}</label>
		<span>{{numberFormat system.attributes.prof sign=true}}</span>
	</fieldset>
</section>

{{#each actionSections as |section|}}
	{{#if section.items.length}}
		<section class="actions">
			<h3 class="striped">
				<span class="left stripes"></span>
				<span class="center">{{localize section.label}}</span>
				<span class="right stripes"></span>
			</h3>
			{{#each section.items as |item|}}
			{{#everydayHeroes-itemContext item as |ctx|}}
				<fieldset data-item-id="{{item.id}}">
					<label>{{{ctx.label}}}</label>
					{{{ctx.description}}}
				</fieldset>
			{{/everydayHeroes-itemContext}}
			{{/each}}
		</section>
	{{/if}}
{{/each}}
