<form class="{{cssClass}}" autocomplete="off">

	<header>
		<figure>
			<img src="{{actor.img}}" data-edit="img">
		</figure>
		<fieldset class="name">
			<input type="text" name="name" value="{{actor.name}}">
		</fieldset>
		<fieldset class="cr">
			<label>{{localize "EH.ChallengeRating.Abbreviation"}}</label>
			<input type="text" name="system.details.cr" value="{{cr}}">
		</fieldset>
		<nav data-group="primary">
			<a data-tab="details">Details</a>{{!-- TODO: Localize --}}
			<a data-tab="inventory">Items</a>{{!-- TODO: Localize --}}
			<a data-tab="biography">Biography</a>{{!-- TODO: Localize --}}
			{{#if editingMode}}
				<a data-action="toggle-editing-mode"
					data-tooltip="Disable Editing Mode">
					<i class="fas fa-lock-open"></i>
				</a>
			{{else}}
				<a data-action="toggle-editing-mode"
					data-tooltip="Enable Editing Mode">
					<i class="fas fa-lock"></i>
				</a>
			{{/if}}
		</nav>
	</header>

	<main>
		<div class="tab" data-group="primary" data-tab="details">
			{{> "everydayHeroes.npc-details"}}
		</div>
		<div class="tab inventory" data-group="primary" data-tab="inventory">
			{{> "everydayHeroes.actor-inventory" sections=inventory}}
		</div>
		<div class="tab" data-group="primary" data-tab="biography">
			<section>
				<h2 class="striped">
					<span class="left stripes"></span>
					<span class="center">
						<select name="editorSelected">
							{{#select editorSelected}}
								<option value="biography">{{localize "EH.Biography.Label"}}</option>
								<option value="public">{{localize "EH.Biography.Public"}}</option>
							{{/select}}
						</select>
					</span>
					<span class="right stripes"></span>
				</h2>
				{{#if (eq editorSelected "biography")}}
					{{editor enriched.biography target="system.biography.value" button=true editable=editable
						engine="prosemirror" collaborate=false}}
				{{else if (eq editorSelected "public")}}
					{{editor enriched.public target="system.biography.public" button=true editable=editable
						engine="prosemirror" collaborate=false}}
				{{/if}}
			</section>
		</div>
	</main>
</form>
