{{#each sections as |section id|}}
	<section data-section-id="{{id}}">
		<header>
			<h2>{{localize section.label}}</h2>
		</header>
		<ol class="item-list">
			{{#each section.actors as |actor|}}
			{{#everydayHeroes-context actor variableName="personContext" as |ctx|}}
				<li class="item" data-actor-id="{{actor.id}}">
					<h4>{{!-- TODO: This shouldn't show a finger points because it isn't clickable --}}
						<figure style="background-image: url('{{actor.img}}')"></figure>
						{{actor.name}}
					</h4>
					<div>
					<fieldset>
						{{#if (and @root.editable item.system.isEquippable)}}
							<a class="{{#if item.isEquipped}}equipped{{else}}unequipped{{/if}}" data-action="item" data-type="equip"
								data-tooltip="{{#if item.isEquipped}}{{localize 'EH.Item.Action.Unequip' type=item.typeLabel}}
								{{~else}}{{localize 'EH.Item.Action.Equip' type=item.typeLabel}}{{/if}}">
								<i class="{{#if item.isEquipped}}fa-solid fa-hand{{else}}fa-regular fa-hand{{/if}}"></i>
							</a>
						{{/if}}
						<a data-action="person" data-type="view"
							data-tooltip="{{localize 'EH.Item.Action.View' type=section.type}}">
							<i class="fa-regular fa-eye"></i>
						</a>{{!-- TODO: Only show if viewing permissions exist for this actor --}}
						{{#if @root.editable}}
							{{#if ctx.isDriver}}
								<a data-action="person" data-type="makePassenger" data-tooltip="EH.Vehicle.Action.MakePassenger">
									<i class="fa-solid fa-turn-down"></i>
								</a>
							{{else}}
								<a data-action="person" data-type="makeDriver" data-tooltip="EH.Vehicle.Action.MakeDriver">
									<i class="fa-solid fa-turn-up"></i>
								</a>
							{{/if}}
							{{#if @root.editingMode}}
								<a data-action="person" data-type="exit" data-tooltip="EH.Vehicle.Action.Exit">
									<i class="fa-solid fa-person-walking-arrow-right"></i>
								</a>
							{{/if}}
						{{/if}}
					</fieldset>
				</li>
			{{/everydayHeroes-context}}
			{{/each}}
		</ol>
	</section>
{{/each}}
