<article>
	<h1>{{ localize "EH.TableOfContents.Title" }}</h1>
	<section class="contents">
		<ol>
			{{#each parts as |part|}}
				<li {{~#if part.id}} data-entry-id="{{ part.id }}"{{/if}}>
					{{#if part.name}}
						<div {{~#if part.id}} data-document-id="{{ part.id }}"{{/if}}>
							<h2>{{#if part.id}}<a data-action="activateEntry">{{ part.name }}</a>{{else}}{{ part.name }}{{/if}}</h2>
						</div>
					{{/if}}
					<ol>
						{{#each part.chapters as |chapter|}}
							<li data-entry-id="{{ chapter.entryId }}" data-page-id="{{ chapter.pageId }}"
							    data-level="{{ chapter.level }}">
								{{#unless part.id}}<div data-document-id="{{ chapter.entryId }}">{{/unless}}
									<h{{ chapter.level }} {{#if chapter.style}}class="{{ chapter.style }}"{{/if}}>
										<a data-action="activateEntry">{{ chapter.name }}</a>
									</h{{ chapter.level }}>
								{{#unless part.id}}</div>{{/unless}}
							</li>
						{{/each}}
					</ol>
				</li>
			{{/each}}
		</ol>
	</section>
</article>
