<article>
	<h1>Table of Contents</h1>
	<section class="contents">
		<ol>
			{{#each parts as |part|}}
				<li data-entry-id="{{part.id}}">
					{{#if part.name}}
						<div data-document-id="{{part.id}}">
							<h2><a>{{part.name}}</a></h2>
						</div>
					{{/if}}
					<ol>
						{{#each part.chapters as |chapter|}}
							<li data-entry-id="{{chapter.entryId}}" data-page-id="{{chapter.pageId}}" data-level="{{chapter.level}}">
								{{#unless part.id}}<div data-document-id="{{chapter.entryId}}">{{/unless}}
									<h{{chapter.level}} {{#if chapter.style}}class="{{chapter.style}}"{{/if}}>
										<a>{{chapter.name}}</a>
									</h{{chapter.level}}>
								{{#unless part.id}}</div>{{/unless}}
							</li>
						{{/each}}
					</ol>
				</li>
			{{/each}}
		</ol>
	</section>
</article>
