<div class="damage dice-roll">
	{{#if flavor}}
		<div class="dice-flavor">{{flavor}}</div>
	{{/if}}
	<div class="dice-result">
		<div class="dice-formula">{{formula}}</div>
		{{{tooltip}}}
		<h4 class="dice-total">
			<span class="total">{{total}}</span>
			{{#with (lookup (lookup CONFIG.damageTypes damageType) "label") as |damage|}}
				<span class="damage-type">{{damage}}</span>
			{{/with}}
			{{#if pv}}
				<span class="pv">{{pv}}</span>
			{{/if}}
		</h4>
	</div>
</div>
