<form class="dialog-content" autocomplete="off">
	<section class="main-form">
		<ul class="formulas">
			{{#each rolls}}<li>{{this.formula}}</li>{{/each}}
		</ul>
		<fieldset>
			<label>{{localize "EH.Dice.ExtraTerms"}}</label>
			<input type="text" name="bonus" value="{{bonus}}" placeholder="">
		</fieldset>
		<fieldset>
			<label>{{localize "EH.Dice.RollMode"}}</label>
			<select name="rollMode">
				{{selectOptions rollModes selected=default.rollMode localize=true}}
			</select>
		</fieldset>
	</section>

	<nav class="dialog-buttons skewed">
		<ul>
			{{#each buttons as |button action|}}
				<li><button data-action="{{action}}">{{{button.icon}}} {{{button.label}}}</button></li>
			{{/each}}
		</ul>
	</nav>
</form>
