<form class="{{cssClass}}" autocomplete="off">

	<header>
		<div class="image">
			<img src="{{item.img}}" data-edit="img">
		</div>
		<div class="fields">
			<fieldset>
				<label>{{localize "Name"}}</label>
				<input type="text" name="name" value="{{item.name}}">
			</fieldset>
			<fieldset>
				<label>{{localize "EH.Item.Type.Label"}}</label>
				<input value="{{#if item.system.type.label}}{{item.system.type.label}}{{else}}{{item.typeLabel}}{{/if}}" disabled>
			</fieldset>
			{{#if (everydayHeroes-has item "system.wealth")}}
				<fieldset>
					<label>{{localize "EH.Details.Wealth.Label"}}</label>
					<input type="number" name="system.wealth" value="{{system.wealth}}">
				</fieldset>
			{{/if}}
		</div>
		<nav data-group="primary">
			<a data-tab="description">{{localize "EH.Sheet.Section.Description"}}</a>
			<a data-tab="advancement">{{localize "EH.Sheet.Section.Advancement"}}</a>
		</nav>
	</header>

	<main>
		<div class="tab" data-group="primary" data-tab="description">
			{{> "everydayHeroes.item-description"}}
		</div>
		<div class="tab" data-group="primary" data-tab="advancement">
			{{> "everydayHeroes.item-advancement"}}
		</div>
	</main>

</form>
