<form class="{{cssClass}}" autocomplete="off">

	<header>
		<div class="image">
			<img src="{{item.img}}" data-edit="img">
		</div>
		<div class="fields">
			<fieldset>
				<label>{{localize "Name"}}</label>
				<input type="text" name="name" value="{{item.name}}">
			</fieldset>
			<fieldset>
				<label>{{localize "EH.Item.Type.Label"}}</label>
				<input value="{{#if item.system.type.label}}{{item.system.type.label}}{{else}}{{item.typeLabel}}{{/if}}" disabled>
			</fieldset>
			{{#if (everydayHeroes-has item "system.type.level")}}
				<fieldset>
					<label>{{localize "EH.Level.Label[one]"}}</label>
					<input type="number" name="system.type.level" value="{{system.type.level}}">
				</fieldset>
			{{/if}}
			{{#if (everydayHeroes-has item "system.identifier.class")}}
				<fieldset>
					<label>{{localize "EH.Item.Type.Class[one]"}}</label>
					<select name="system.identifier.class">
						{{selectOptions CONFIG.registration.all.class selected=system.identifier.class
							blank=(localize "EH.Any") labelAttr="name"}}
					</select>
				</fieldset>
			{{/if}}
		</div>
		<nav data-group="primary">
			<a data-tab="description">{{localize "EH.Sheet.Section.Description"}}</a>
			<a data-tab="details">{{localize "EH.Sheet.Section.Details"}}</a>
			{{#if (everydayHeroes-has item "system.advancement")}}
				<a data-tab="advancement">{{localize "EH.Sheet.Section.Advancement"}}</a>
			{{/if}}
			{{#if item.system.hasEffects}}
				<a data-tab="effects">{{localize "EH.Sheet.Section.Effects"}}</a>
			{{/if}}
		</nav>
	</header>

	<main>
		<div class="tab" data-group="primary" data-tab="description">
			{{> "everydayHeroes.item-description"}}
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			{{> "everydayHeroes.feature-details"}}
		</div>
		{{#if (everydayHeroes-has item "system.advancement")}}
			<div class="tab" data-group="primary" data-tab="advancement">
				{{> "everydayHeroes.item-advancement"}}
			</div>
		{{/if}}
		{{#if item.system.hasEffects}}
			<div class="tab inventory" data-group="primary" data-tab="effects">
				{{> "everydayHeroes.active-effects"}}
			</div>
		{{/if}}
	</main>

</form>
