<section>

	{{#if itemCategories}}
		<fieldset>
			<label>Category</label>
			<select name="system.type.category">
				{{selectOptions itemCategories selected=system.type.category blank="" labelAttr="label"}}
			</select>
		</fieldset>
	{{/if}}

	{{#if system.types}}
		<fieldset>
			<label>{{localize "EH.Item.Type.Label"}}</label>
			<select name="system.type.value">
				{{selectOptions system.types selected=system.type.value blank="" labelAttr="label"}}
			</select>
		</fieldset>
	{{/if}}

	<fieldset>
		<label>Activation Cost</label>{{!-- TODO: Localize --}}
		<select name="system.activation.type">
			{{selectOptions CONFIG.actionTypesStandard selected=system.activation.type blank=(localize "None")}}
		</select>
	</fieldset>
	<fieldset>
		<label>Activation Condition</label>{{!-- TODO: Localize --}}
		<input type="text" name="system.activation.condition" value="{{system.activation.condition}}">
	</fieldset>

	<fieldset>
		<label>{{localize "EH.Consumption.Label"}}</label>
		<div class="fields">
			<label>{{!-- TODO: Should span full width if no type selected --}}
				<span>{{localize "EH.Consumption.Type.Label"}}</span>
				<select name="system.resource.type">
					{{selectOptions CONFIG.consumptionTypes selected=system.resource.type labelAttr="label" blank=""}}
				</select>
			</label>
			{{#if system.resource.type}}
				<label>
					<span>{{localize "EH.Consumption.Amount.Label"}}</span>
					<input type="number" name="system.resource.amount" value="{{system.resource.amount}}">
				</label>
				<label>
					<span>{{localize "EH.Consumption.Target.Label"}}</span>
					{{#if item.isEmbedded}}
						<select name="system.resource.target">
							{{selectOptions resources selected=system.resource.target blank=""}}
						</select>
					{{else}}
						<input type="text" name="system.resource.target" value="{{source.resource.target}}">
					{{/if}}
				</label>
			{{/if}}
		</div>
	</fieldset>

	<fieldset class="triple">
		<label>{{localize "EH.Uses.Label"}}</label>
		<div class="fields">
			<label>
				<span>{{localize "EH.Uses.Max.Label"}}</span>
				<input type="text" name="system.uses.max" value="{{source.uses.max}}">
			</label>
			<label>
				<span>{{localize "EH.Uses.Recovery.Period.Label"}}</span>
				<select name="system.uses.period">
					{{selectOptions CONFIG.recoveryPeriods selected=system.uses.period labelAttr="label" blank=""}}
				</select>
			</label>
			{{!-- TODO: Implement uses recovery formulas
			<label>
				<span>{{localize "EH.Uses.Recovery.Formula.Label"}}</span>
				<input type="text" name="system.uses.recovery" value="{{system.uses.recovery}}" placeholder="All">
			</label>
			--}}
	</fieldset>

	{{#if system.hasRecharge}}
		<fieldset class="triple">
			<label>{{localize "EH.Recharge.Label"}}</label>
			<div class="fields">
				<label>
					<span>Target</span>{{!-- TODO: Localize --}}
					<input type="number" name="system.recharge.target" value="{{system.recharge.target}}">
				</label>
		</fieldset>
	{{/if}}

</section>
