<section>

	{{#if itemCategories}}
		<fieldset>
			<label>Category</label>
			<select name="system.type.category">
				{{selectOptions itemCategories selected=system.type.category blank="" labelAttr="label"}}
			</select>
		</fieldset>
	{{/if}}

	{{#if system.types}}
		<fieldset>
			<label>{{localize "EH.Item.Type.Label"}}</label>
			<select name="system.type.value">
				{{selectOptions system.types selected=system.type.value blank="" labelAttr="label"}}
			</select>
		</fieldset>
	{{/if}}

	<fieldset>
		<label>{{localize "EH.Activation.Cost.Label"}}</label>
		<select name="system.activation.type">
			{{selectOptions CONFIG.actionTypesStandard selected=system.activation.type blank=(localize "None")}}
		</select>
	</fieldset>
	<fieldset>
		<label>{{localize "EH.Activation.Condition.Label"}}</label>
		<input type="text" name="system.activation.condition" value="{{system.activation.condition}}">
	</fieldset>
	{{#if system.hasActionPoints}}
		<fieldset>
			<label>{{localize "EH.Activation.Amount.ActionPoints.Label"}}</label>
			<input type="number" name="system.activation.amount" value="{{source.activation.amount}}" placeholder="1">
		</fieldset>
	{{/if}}

	{{> "everydayHeroes.item-consumption"}}

</section>
