<form class="{{cssClass}}" autocomplete="off">

	<header>
		<div class="image">
			<img src="{{item.img}}" data-edit="img">
		</div>
		<div class="fields">
			<fieldset>
				<label>{{localize "Name"}}</label>
				<input type="text" name="name" value="{{item.name}}">
			</fieldset>
			<fieldset>
				<label>{{localize "EH.Item.Type.Label"}}</label>
				<input value="{{#if item.system.type.label}}{{item.system.type.label}}{{else}}{{item.typeLabel}}{{/if}}" disabled>
			</fieldset>
		</div>
		<nav data-group="primary">
			<a data-tab="description">Description</a>{{!-- TODO: Localize --}}
			<a data-tab="details">Details</a>{{!-- TODO: Localize --}}
			{{#if item.system.hasEffects}}
				<a data-tab="effects">Effects</a>{{!-- TODO: Localize --}}
			{{/if}}
		</nav>
	</header>

	<main>
		<div class="tab" data-group="primary" data-tab="description">
			{{editor enriched.description target="system.description.value" button=true editable=editable
				engine="prosemirror" collaborate=false}}
		</div>
		<div class="tab" data-group="primary" data-tab="details">
			{{> "everydayHeroes.feature-details"}}
		</div>
		{{#if item.system.hasEffects}}
			<div class="tab" data-group="primary" data-tab="effects">
				{{> "everydayHeroes.active-effects"}}
			</div>
		{{/if}}
	</main>

</form>
