<section>
	<h3 class="striped">
		<span class="left stripes"></span>
		<span class="center">
			<select name="editorSelected">
				{{ selectOptions editor.options selected=editor.selected localize=true }}
			</select>
		</span>
		<span class="right stripes"></span>
	</h3>
	{{#if (eq editor.selected "description")}}
		{{editor enriched.description target="system.description.value" button=true editable=editable
			engine="prosemirror" collaborate=false}}
	{{else if (eq editor.selected "chat")}}
		{{editor enriched.chat target="system.description.chat" button=true editable=editable
			engine="prosemirror" collaborate=false}}
	{{/if}}
	<footer>
		<fieldset>
			<label>Source</label>
			<input type="text" name="system.description.source" value="{{system.description.source}}">
		</fieldset>
	</footer>
</section>
