<form class="{{cssClass}}" autocomplete="off">

	<header>
		<div class="image">
			<img src="{{item.img}}" data-edit="img">
		</div>
		<div class="fields">
			<fieldset class="primary">
				<label>{{localize "Name"}}</label>
				<input type="text" name="name" value="{{item.name}}">
			</fieldset>
			<fieldset>
				<label>{{localize "EH.Item.Type.Label"}}</label>
				<input value="{{item.system.type.label}}" disabled>
			</fieldset>
			<fieldset>
				<div class="fields">
					<label>
						<span>{{localize "EH.Equipment.Trait.Bulk.Label"}}</span>
						<input type="number" name="system.bulk" value="{{system.bulk}}">
					</label>
					<label>
						<span>{{localize "EH.Equipment.Trait.PriceLevel.Label"}}</span>
						<input type="number" name="system.price" value="{{system.price}}">
					</label>
				</div>
			</fieldset>
		</div>
			<nav data-group="primary">
				<a data-tab="description">Description</a>{{!-- TODO: Localize --}}
				{{#unless (eq item.type "gear")}}
					<a data-tab="details">Details</a>{{!-- TODO: Localize --}}
				{{/unless}}
			</nav>
	</header>

	<main>
		<div class="tab" data-group="primary" data-tab="description">
			{{editor enriched.description target="system.description.value" button=true editable=editable
				engine="prosemirror" collaborate=false}}
		</div>
		{{#unless (eq item.type "gear")}}
			<div class="tab" data-group="primary" data-tab="details">
				{{> "everydayHeroes.physical-details"}}
			</div>
		{{/unless}}
	</main>

</form>
