<h3 class="striped">
	<span class="left stripes"></span>
	<span class="center">{{localize "EH.Equipment.Trait.Damage.Label"}}</span>
	<span class="right stripes"></span>
</h3>

{{#if (eq item.system.damageMode "regular")}}

	<fieldset class="triple">
		<label>{{localize "EH.Equipment.Trait.Damage.Label"}}</label>
		<div class="fields">
			{{#if item.system.hasDamage}}
				<label>
					<span>{{localize "EH.Equipment.Trait.Damage.Count.Label"}}</span>
					<input type="number" name="system.damage.number" value="{{source.damage.number}}">
				</label>
				<label>
					<span>{{localize "EH.Equipment.Trait.Damage.Denomination.Label"}}</span>
					<select name="system.damage.denomination">
						{{selectOptions diceSteps selected=source.damage.denomination blank=""}}
					</select>
				</label>
			{{/if}}
			<label>
				<span>{{localize "EH.Equipment.Trait.Damage.Type.Label"}}</span>
				<select name="system.damage.type">
					{{#select source.damage.type}}
						{{selectOptions CONFIG.damageTypes blank=(localize "EH.Damage.None") labelAttr="label"}}
						<option value="multiple">{{localize "EH.Damage.Multiple"}}</option>
					{{/select}}
				</select>
			</label>
		</div>
		<p class="hint">{{localize "EH.Equipment.Trait.Damage.Hint"}}</p>
	</fieldset>

	{{#if (eq source.damage.type "multiple")}}
		<fieldset>
			<label>{{localize "EH.Equipment.Trait.Damage.Types.Label"}}</label>
			{{everydayHeroes-tagInput source.damage.alternateTypes choices=CONFIG.damageTypes labelAttr="label"
				name="system.damage.alternateTypes" validate=true}}
			<p class="hint">{{localize "EH.Equipment.Trait.Damage.Types.Hint"}}</p>
		</fieldset>
	{{/if}}

	{{#if item.system.hasDamage}}
		{{#if (everydayHeroes-has item "system.penetrationValue")}}
			<fieldset>
				<label>{{localize "EH.Equipment.Trait.PenetrationValue.Label"}}</label>
				<input type="number" name="system.penetrationValue" value="{{source.penetrationValue}}"
					placeholder="{{localize 'EH.Damage.IgnoresArmor.Label'}}">
				<p class="hint">{{localize "EH.Equipment.Trait.PenetrationValue.Hint"}}</p>
			</fieldset>
		{{/if}}
	
		<fieldset class="supplemental-damage">
			<label>{{localize "EH.Equipment.Trait.SupplementalDamage.Label"}}</label>
			<span class="control">
				<a data-action="damage" data-type="add" data-tooltip="{{localize 'EH.Action.AddSpecific'
					type=(localize 'EH.Equipment.Trait.SupplementalDamage.Label')}}"><i class="fas fa-plus"></i></a>
			</span>
			<p class="hint">{{localize "EH.Equipment.Trait.SupplementalDamage.Hint"}}</p>
			{{#each source.supplementalDamage}}
				<div class="damage-entry" data-index="{{@index}}">
					<label>
						<span>{{localize "EH.Equipment.Trait.Damage.Count.Label"}}</span>
						<input type="number" name="system.supplementalDamage.{{@index}}.number" value="{{this.number}}">
					</label>
					<label>
						<span>{{localize "EH.Equipment.Trait.Damage.Denomination.Label"}}</span>
						<select name="system.supplementalDamage.{{@index}}.denomination">
							{{selectOptions @root.diceSteps selected=this.denomination blank=""}}
						</select>
					</label>
					<label>
						<span>{{localize "EH.Equipment.Trait.Damage.Type.Label"}}</span>
						<select name="system.supplementalDamage.{{@index}}.type">
							{{selectOptions @root.CONFIG.damageTypes selected=this.type labelAttr="label"}}
						</select>
					</label>
					<label>
						<span>{{localize "EH.Bonus.Label[one]"}}</span>
						<input type="text" name="system.supplementalDamage.{{@index}}.bonus" value="{{this.bonus}}">
					</label>
					<span class="control">
						<a data-action="damage" data-type="remove" data-tooltip="{{localize 'EH.Action.RemoveSpecific'
							type=(localize 'EH.Equipment.Trait.SupplementalDamage.Label')}}"><i class="fas fa-trash"></i></a>
					</span>
				</div>
			{{/each}}
		</fieldset>
	{{/if}}

{{else if (eq item.system.damageMode "modification")}}

	<fieldset class="triple">
		<label>{{localize "EH.Equipment.Trait.DamageModification.Label"}}</label>
		<div class="fields">
			<label>
				<span>{{localize "EH.Equipment.Trait.Damage.Count.Label"}}</span>
				<select name="system.damage.number">
					{{selectOptions diceMod.count selected=source.damage.number nameAttr="name" labelAttr="label"}}
				</select>
			</label>
			<label>
				<span>{{localize "EH.Equipment.Trait.Damage.Denomination.Label"}}</span>
				<select name="system.damage.denomination">
					{{selectOptions diceMod.denomination selected=source.damage.denomination nameAttr="name" labelAttr="label"}}
				</select>
			</label>
			<label>
				<span>{{localize "EH.Equipment.Trait.Damage.Type.Label"}}</span>
				<select name="system.damage.type">
					{{selectOptions CONFIG.damageTypes selected=source.damage.type labelAttr="label"
						blank=(localize "EH.Equipment.Trait.DamageModification.NoChange")}}
				</select>
			</label>
		</div>
		<p class="hint">{{localize "EH.Equipment.Trait.DamageModification.Hint"}}</p>
	</fieldset>

{{/if}}

{{#if (and (everydayHeroes-has item "system._source.dc") item.system.hasDamage)}}
	<fieldset>
		<label>{{localize "EH.Explosive.DC.Label"}}</label>
		<input type="number" name="system.dc" value="{{source.dc}}">
	</fieldset>
{{/if}}
