<section>

	{{#if (everydayHeroes-has item "system.type.category")}}
		<fieldset>
			<label>{{localize "EH.Equipment.Category.Label[one]"}}</label>
			<select name="system.type.category">
				{{selectOptions CONFIG.equipmentCategories selected=system.type.category labelAttr="label" blank=""}}
			</select>
		</fieldset>
	{{/if}}

	{{#if itemSubTypes}}
		<fieldset>
			<label>{{localize "EH.Item.Type.Label"}}</label>
			<select name="system.type.value">
				{{selectOptions itemSubTypes selected=system.type.value blank="" labelAttr="label"}}
			</select>
		</fieldset>
	{{/if}}

	<h3 class="striped">
		<span class="left stripes"></span>
		<span class="center">
			{{#if (eq item.type "armor")}}{{localize "EH.Armor.Property.Label"}}
			{{else if (eq item.type "explosive")}}{{localize "EH.Explosive.Properties.Label"}}
			{{else}}{{localize "EH.Weapon.Property.Label"}}{{/if}}
		</span>
		<span class="right stripes"></span>
	</h3>

	{{#if itemProperties}}
		<div class="properties">
			{{#each itemProperties as |property key|}}
				<fieldset {{#if property.checked}}class="checked"{{/if}}>
					<label>
						<input type="checkbox" name="system.properties.{{key}}" {{checked property.checked}}>
						{{property.label}}
					</label>
				</fieldset>
			{{/each}}
		</div>
	{{/if}}

	{{#if (everydayHeroes-has item "system.armorValue")}}
		<fieldset>
			<label>{{localize "EH.Equipment.Trait.ArmorValue.Label"}}</label>
			<input type="number" name="system.armorValue" value="{{system.armorValue}}">
			<p class="hint">{{localize "EH.Equipment.Trait.ArmorValue.Hint"}}</p>
		</fieldset>
	{{/if}}

	{{#if (everydayHeroes-has item "system.penetrationValue")}}
		<fieldset>
			<label>{{localize "EH.Equipment.Trait.PenetrationValue.Label"}}</label>
			<input type="number" name="system.penetrationValue" value="{{source.penetrationValue}}">
			<p class="hint">{{localize "EH.Equipment.Trait.PenetrationValue.Hint"}}</p>
		</fieldset>
	{{/if}}

	{{#if (eq item.system.damageMode "regular")}}
		<fieldset class="triple">
			<label>{{localize "EH.Equipment.Trait.Damage.Label"}}</label>
			<div class="fields">
				{{#if item.system.hasDamage}}
					<label>
						<span>Number</span>{{!-- TODO: Localize --}}
						<input type="number" name="system.damage.number" value="{{source.damage.number}}">
					</label>
					<label>
						<span>Denomination</span>{{!-- TODO: Localize --}}
						<select name="system.damage.denomination">
							{{selectOptions diceSteps selected=source.damage.denomination blank=""}}
						</select>
					</label>
				{{/if}}
				<label>
					<span>Type</span>
					<select name="system.damage.type">
						{{selectOptions CONFIG.damageTypes selected=source.damage.type
							blank=(localize "EH.Damage.None") labelAttr="label"}}
					</select>
				</label>
			</div>
			<p class="hint">{{localize "EH.Equipment.Trait.Damage.Hint"}}</p>
		</fieldset>
	{{else if (eq item.system.damageMode "modification")}}
		<fieldset class="triple">
			<label>{{localize "EH.Equipment.Trait.DamageModification.Label"}}</label>
			<div class="fields">
				<label>
					<span>Number</span>
					<select name="system.damage.number">{{!-- TODO: Localize & auto generate these steps --}}
						{{#select source.damage.number}}
							<option value="-4">-4 dice</option>
							<option value="-3">-3 dice</option>
							<option value="-2">-2 dice</option>
							<option value="-1">-1 die</option>
							<option value="0">0</option>
							<option value="1">+1 die</option>
							<option value="2">+2 dice</option>
							<option value="3">+3 dice</option>
							<option value="4">+4 dice</option>
						{{/select}}
					</select>
				</label>
				<label>
					<span>Denomination</span>
					<select name="system.damage.denomination">{{!-- TODO: Localize & auto generate these steps --}}
						{{#select source.damage.denomination}}
							<option value="-4">-4 steps</option>
							<option value="-3">-3 steps</option>
							<option value="-2">-2 steps</option>
							<option value="-1">-1 step</option>
							<option value="0">0</option>
							<option value="1">+1 step</option>
							<option value="2">+2 steps</option>
							<option value="3">+3 steps</option>
							<option value="4">+4 steps</option>
						{{/select}}
					</select>
				</label>
				<label>
					<span>Type</span>
					<select name="system.damage.type">
						{{selectOptions CONFIG.damageTypes selected=source.damage.type labelAttr="label"
				  		blank=(localize "EH.Equipment.Trait.DamageModification.NoChange")}}
					</select>
				</label>
			</div>
			<p class="hint">{{localize "EH.Equipment.Trait.DamageModification.Hint"}}</p>
		</fieldset>
	{{/if}}

	{{#if (and (everydayHeroes-has item "system.dc") item.system.hasDamage)}}
		<fieldset>
			<label>{{localize "EH.Explosive.DC.Label"}}</label>
			<input type="number" name="system.dc" value="{{system.dc}}">
		</fieldset>
	{{/if}}

	{{#if (everydayHeroes-has item "system.radius")}}
		<fieldset class="triple">
			<label>{{localize "EH.Equipment.Trait.Radius.Label"}}</label>
			<input type="number" name="system.radius.value" value="{{system.radius.value}}">
			<select name="system.radius.units">
				{{selectOptions CONFIG.lengthUnits selected=system.radius.value labelAttr="label"}}
			</select>
			<p class="hint">{{localize "EH.Equipment.Trait.Radius.Hint"}}</p>
		</fieldset>
	{{/if}}

	{{#if item.system.usesRange}}
		<fieldset class="triple">
			<label>{{localize "EH.Equipment.Trait.Range.Label"}}</label>
			<input type="number" name="system.range.short" value="{{system.range.short}}">
			<input type="number" name="system.range.long" value="{{system.range.long}}">
			<select name="system.range.units">
				{{selectOptions CONFIG.lengthUnits selected=system.range.value labelAttr="label"}}
			</select>
		</fieldset>
	{{/if}}

	{{#if itemProperties.reach.checked}}
		<fieldset>
			<label>{{localize "EH.Equipment.Trait.Range.Reach"}}</label>
			<input type="number" name="system.range.reach" value="{{system.range.reach}}">
		</fieldset>
	{{/if}}

	{{#if item.system.usesRounds}}
		<fieldset>
			<label>{{localize "EH.Ammunition.Type.Label"}}</label>
			<select name="system.rounds.type">
				{{#select system.rounds.type}}
					<option value="">{{localize "None"}}</option>
					<optgroup label="{{localize 'EH.Item.Type.Ammunition[other]'}}">
						{{selectOptions CONFIG.ammunitionTypes labelAttr="label"}}
					</optgroup>
					<optgroup label="{{localize 'EH.Item.Type.Explosive[other]'}}">
						{{selectOptions CONFIG.explosiveTypes labelAttr="label"}}
					</optgroup>
				{{/select}}
			</select>
		</fieldset>

		<fieldset>
			<label>{{localize "EH.Equipment.Trait.Rounds.Label"}}</label>
			<input type="number" name="system.rounds.capacity" value="{{system.rounds.capacity}}">
			<p class="hint">{{localize "EH.Equipment.Trait.Rounds.Hint"}}</p>
		</fieldset>

		{{#if system.rounds.capacity}}
			<fieldset>
				<label>{{localize "EH.Equipment.Trait.Reload.Label"}}</label>
				<select name="system.reload">
					{{selectOptions CONFIG.actionTypesReload selected=system.reload}}
				</select>
			</fieldset>
		{{/if}}

		{{#if itemProperties.burst.checked}}
			<fieldset>
				<label>{{localize "EH.Equipment.Trait.Rounds.Burst.Label"}}</label>
				<input type="number" name="system.rounds.burst" value="{{system.rounds.burst}}">
				<p class="hint">{{localize "EH.Equipment.Trait.Rounds.Burst.Hint"}}</p>
			</fieldset>
		{{/if}}
	{{/if}}

	{{#if (everydayHeroes-has item "system.bonuses")}}
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">Bonuses</span>{{!-- TODO: Localize --}}
			<span class="right stripes"></span>
		</h3>

		{{#if (everydayHeroes-has item "system.bonuses.attack")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Bonus.Attack.Label"}}</label>
				<input type="text" name="system.bonuses.attack" value="{{system.bonuses.attack}}">
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.bonuses.dc")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Bonus.DC.Label"}}</label>
				<input type="text" name="system.bonuses.dc" value="{{system.bonuses.dc}}">
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.bonuses.damage")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Bonus.Damage.Label"}}</label>
				<input type="text" name="system.bonuses.damage" value="{{system.bonuses.damage}}">
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.bonuses.critical")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Bonus.Critical.Label"}}</label>
				<div class="fields">
					<label>
						<span>{{localize "EH.Weapon.Bonus.Critical.Dice.Label"}}</span>
						<input type="number" name="system.bonuses.critical.dice" value="{{system.bonuses.critical.dice}}">
						{{!-- TODO: This should probably be a select --}}
					</label>
					<label>
						<span>{{localize "EH.Weapon.Bonus.Critical.Damage.Label"}}</span>
						<input type="text" name="system.bonuses.critical.damage" value="{{system.bonuses.critical.damage}}">
					</label>
				</div>
				<p class="hint">{{localize "EH.Weapon.Bonus.Critical.Hint"}}</p>
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.bonuses.save")}}
			<fieldset>
				<label>{{localize "EH.Armor.Bonuses.Save.Label"}}</label>
				<input type="text" name="system.bonuses.save" value="{{system.bonuses.save}}">
			</fieldset>
		{{/if}}
	{{/if}}

	{{#if (everydayHeroes-has item "system.overrides")}}
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">Overrides</span>{{!-- TODO: Localize --}}
			<span class="right stripes"></span>
		</h3>

		{{#if (everydayHeroes-has item "system.overrides.ability")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Overrides.Ability.Label"}}</label>
				<select name="system.overrides.ability">
					{{selectOptions CONFIG.abilities selected=system.overrides.ability blank="" labelAttr="label"}}
				</select>
			</fieldset>
		{{/if}}
	
		{{#if (everydayHeroes-has item "system.overrides.criticalThreshold")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Overrides.CriticalThreshold.Label"}}</label>
				<input type="number" name="system.overrides.criticalThreshold" value="{{system.overrides.criticalThreshold}}">
			</fieldset>
		{{/if}}
	{{/if}}

</section>
