<section>

	{{#if (everydayHeroes-has item "system.type.category")}}
		<fieldset>
			<label>{{localize "EH.Equipment.Category.Label[one]"}}</label>
			<select name="system.type.category">
				{{selectOptions CONFIG.equipmentCategories selected=system.type.category labelAttr="label" blank=""}}
			</select>
		</fieldset>
	{{/if}}

	{{#if system.types}}
		<fieldset>
			<label>{{localize "EH.Item.Type.Label"}}</label>
			<select name="system.type.value">
				{{selectOptions system.types selected=system.type.value blank="" labelAttr="label"}}
			</select>
		</fieldset>
	{{/if}}

	{{#if activationCosts}}
		<fieldset>
			<label>{{localize "EH.Activation.Cost.Label"}}</label>
			<select name="system.activation.type">
				{{selectOptions activationCosts selected=system.activation.type}}
			</select>
		</fieldset>
	{{/if}}

	<h3 class="striped">
		<span class="left stripes"></span>
		<span class="center">{{localize "EH.Equipment.Property.Label[other]"}}</span>
		<span class="right stripes"></span>
	</h3>

	{{#if itemProperties}}
		<div class="properties {{#if propertyModification}}modification{{/if}}">
			{{#each itemProperties as |property key|}}
				<fieldset class="{{property.value}}"{{#if property.hint}} data-tooltip="{{property.hint}}"{{/if}}>
					<label>
						<input type="checkbox" {{checked property.value}}>
						<input type="hidden" name="system.properties.{{key}}" value="{{property.value}}">
						{{property.label}}
					</label>
				</fieldset>
			{{/each}}
		</div>
	{{/if}}

	{{#if (everydayHeroes-has item "system.armorValue")}}
		<fieldset>
			<label>{{localize "EH.Equipment.Trait.ArmorValue.Label"}}</label>
			<input type="number" name="system.armorValue" value="{{system.armorValue}}">
			<p class="hint">{{localize "EH.Equipment.Trait.ArmorValue.Hint"}}</p>
		</fieldset>
	{{/if}}

	{{#if (everydayHeroes-has item "system.radius")}}
		<fieldset class="triple">
			<label>{{localize "EH.Equipment.Trait.Radius.Label"}}</label>
			<input type="number" name="system.radius.value" value="{{source.radius.value}}">
			<select name="system.radius.units">
				{{selectOptions lengthUnits selected=source.radius.units labelAttr="label"}}
			</select>
			<p class="hint">{{localize "EH.Equipment.Trait.Radius.Hint"}}</p>
		</fieldset>
	{{/if}}

	{{#if system.usesRange}}
		<fieldset class="triple">
			<label>{{localize "EH.Equipment.Trait.Range.Label"}}</label>
			<input type="number" name="system.range.short" value="{{source.range.short}}">
			<input type="number" name="system.range.long" value="{{source.range.long}}">
			<select name="system.range.units">
				{{selectOptions lengthUnits selected=source.range.units labelAttr="label"}}
			</select>
		</fieldset>
	{{/if}}

	{{#if itemProperties.reach.value}}
		<fieldset>
			<label>{{localize "EH.Equipment.Trait.Range.Reach"}}</label>
			<input type="number" name="system.range.reach" value="{{source.range.reach}}">
		</fieldset>
	{{/if}}

	{{#if (everydayHeroes-has item "system.target.value")}}
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.Target.Label[other]"}}</span>
			<span class="right stripes"></span>
		</h3>

		<fieldset>
			<label>{{localize "EH.Target.Count.Label"}}</label>
			<input type="number" name="system.target.value" value="{{source.target.value}}">
		</fieldset>

		<fieldset>
			<label>{{localize "EH.Target.Conditions.Label"}}</label>
			{{everydayHeroes-tagInput source.target.conditions choices=CONFIG.conditions labelAttr="label"
				name="system.target.conditions" validate=true}}
			<p class="hint">{{localize "EH.Target.Conditions.Hint"}}</p>
		</fieldset>

		<fieldset>
			<label>{{localize "EH.Target.Custom.Label"}}</label>
			<input type="text" name="system.target.custom" value="{{source.target.custom}}"
				placeholder="{{system.target.generated}}">
		</fieldset>
	{{/if}}

	{{#if (everydayHeroes-has item "system.damage")}}
		{{> "everydayHeroes.physical-damage"}}
	{{/if}}

	{{#if system.usesRounds}}
		{{> "everydayHeroes.physical-rounds"}}
	{{/if}}

	{{#if (everydayHeroes-has item "system.bonuses")}}
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.Bonus.Label[other]"}}</span>
			<span class="right stripes"></span>
		</h3>

		{{#if (everydayHeroes-has item "system.bonuses.attack")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Bonus.Attack.Label"}}</label>
				<input type="text" name="system.bonuses.attack" value="{{system.bonuses.attack}}">
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.bonuses.dc")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Bonus.DC.Label"}}</label>
				<input type="text" name="system.bonuses.dc" value="{{system.bonuses.dc}}">
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.bonuses.damage")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Bonus.Damage.Label"}}</label>
				<input type="text" name="system.bonuses.damage" value="{{system.bonuses.damage}}">
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.bonuses.critical")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Bonus.Critical.Label"}}</label>
				<div class="fields">
					<label>
						<span>{{localize "EH.Weapon.Bonus.Critical.Dice.Label"}}</span>
						<input type="number" name="system.bonuses.critical.dice" value="{{system.bonuses.critical.dice}}">
						{{!-- TODO: This should probably be a select --}}
					</label>
					<label>
						<span>{{localize "EH.Weapon.Bonus.Critical.Damage.Label"}}</span>
						<input type="text" name="system.bonuses.critical.damage" value="{{system.bonuses.critical.damage}}">
					</label>
				</div>
				<p class="hint">{{localize "EH.Weapon.Bonus.Critical.Hint"}}</p>
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.bonuses.save")}}
			<fieldset>
				<label>{{localize "EH.Armor.Bonuses.Save.Label"}}</label>
				<input type="text" name="system.bonuses.save" value="{{system.bonuses.save}}">
			</fieldset>
		{{/if}}
	{{/if}}

	{{#if (everydayHeroes-has item "system.overrides")}}
		<h3 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.Override.Label"}}</span>
			<span class="right stripes"></span>
		</h3>

		{{#if (everydayHeroes-has item "system.overrides.ability.attack")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Overrides.Ability.Attack.Label"}}</label>
				<select name="system.overrides.ability.attack">
					{{#select source.overrides.ability.attack}}
						<option value="">{{localize "EH.Weapon.Overrides.Ability.Default"}}</option>
						<option value="none">{{localize "EH.Weapon.Overrides.Ability.None"}}</option>
						{{selectOptions CONFIG.abilities selected=system.overrides.ability.attack labelAttr="label"}}
					{{/select}}
				</select>
			</fieldset>
		{{/if}}

		{{#if (everydayHeroes-has item "system.overrides.ability.damage")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Overrides.Ability.Damage.Label"}}</label>
				<select name="system.overrides.ability.damage">
					{{#select source.overrides.ability.damage}}
						<option value="">{{localize "EH.Weapon.Overrides.Ability.Default"}}</option>
						<option value="none">{{localize "EH.Weapon.Overrides.Ability.None"}}</option>
						{{selectOptions CONFIG.abilities selected=system.overrides.ability.damage labelAttr="label"}}
					{{/select}}
				</select>
			</fieldset>
		{{/if}}
	
		{{#if (everydayHeroes-has item "system.overrides.critical.threshold")}}
			<fieldset>
				<label>{{localize "EH.Weapon.Overrides.Critical.Threshold.Label"}}</label>
				<input type="number" name="system.overrides.critical.threshold" value="{{system.overrides.critical.threshold}}">
			</fieldset>
		{{/if}}
	{{/if}}

</section>
